* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #212f3d;
}

body {
  display: flex;
}

/*header*/

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 76px;
  justify-content: center;
}

/*header text*/

.menu {
  margin-right: 580px;
  margin-top: 2px;
  align-items: center;
  height: 100px;
  width: 75px;
}

.menu img {
  display: flex;
  flex-direction: column;
  width: 75px;
  height: 75px;
  margin-left: 500px;
}

form {
  width: 260px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
}

svg {
  display: flex;
  color: #fff;
  fill: currentColor;
  width: 40px;
  height: 40px;
  padding: 11px;
  z-index: 2;
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
  z-index: 2;
}

/*header images*/

header .shoppingcart img {
  display: flex;
  height: 75px;
  width: 75px;
  margin-left: 450px;
}

header .balkjes img {
  height: 60px;
  width: 60px;
  color: white;
  margin-top: 10px;
  margin-right: 30px;
}

header .balkjes1 img {
  height: 60px;
  width: 60px;
  color: black;
  margin-top: 20px;
  margin-right: 30px;
}

.sidebar {
  position: relative;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  background-color: #212f3d;
  transition: left 2s;
  border-top: white solid 3px;
  border-right: white solid 3px;
  z-index: 0;
}

.sidebar.active {
  left: -300px;
}

.sidebar h1 {
  color: white;
  margin-top: 70px;
  margin-left: 20px;
  font-family: "Roboto Mono", monospace;
}

/*main*/

/* CONTENT */
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

}



/*container-info*/

.container-info {
  color: white;
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*container-box1*/

.container-box {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  width: 100%;
  height: auto;
  margin-top: 100px;
  padding: 0px 50px;
}

.box {
  position: relative;
  display: flex;
  width: 200px;
  height: 200px;
  border: 3px solid black;
  background-color: white;
  box-shadow: black 0px 5px 15px;
}

.box:hover > .overlay {
  opacity: 1;
  filter: grayscale(0%) blur(0px);
}

.box:hover > img {
  filter: grayscale(0%) blur(2px);
}

.box img {
  display: block;
  width: 100%;
  height: 100%;
  transition: filter 0.4s ease-in-out;
}

.box .overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s, filter 0.4s;
  opacity: 0;
  font-size: large;
  font-weight: bold;
}


.inlogscherm {
  margin-top: 100px;
  display: flex;
  height: 100px;
  width: 100px;
  color: red;
  flex-direction: column;
  border:2px solid black;
  width: 300px;
  height: 275px;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
}

.terug {
  margin-right: 1450px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
}

.inlog-logo {
  margin-right: 30px;
  display: flex;
  height: 100px;
  width: 100px;
}

.inlog-knop {
  display: flex;
  
}

.bedrijfsnaam p{
  margin-right: 20px;
  display: flex;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  color: red;
}

.bedrijfsnaam {
  display: flex;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  color: red;
}

/* PHP inlogfout.php */

.inlog-fout {
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100px;
  width: 700px;
  color: red;
  flex-direction: column;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
}


.bedrijfsnaam1 {
  display: flex;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  color: red;
}

/* Beveiligdepagina.php */

.in-systeem {
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100px;
  width: 100px;
  color: red;
  flex-direction: column;
  border:2px solid black;
  width: 300px;
  height: 200px;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
}

/* Uitloggen.php */


.uitloggen {
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100px;
  width: 100px;
  color: red;
  flex-direction: column;
  border:2px solid black;
  width: 300px;
  height: 150px;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
}

.close {
  color: black;
}

.begin {
  margin-left: 310px;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
}

